<div class="container-sm">
    <h1>The {{people.name}}</h1>
    <form [formGroup]="peopleForm" (ngSubmit)="updatePeople()">
        <div *ngFor="let item of people | keyvalue"> 
        <mat-card>
            <mat-form-field floatLabel="always">
                <mat-label>{{item.key}}</mat-label>
                <input matInput placeholder={{item.value}}>
            </mat-form-field>
        </mat-card>
    </div>
        <div class="text-right">
            <button mat-flat-button type="submit" [disabled]="!peopleForm.valid" >Update People</button>
            <button mat-flat-button (click)="deletePeople()" color="accent">Delete People</button>
        </div>

    </form>
</div>